.tabs {
  .tabHeaders {
    display: flex;
    justify-content: space-between;
  }

  .tabButton {
    padding: 10px;
    flex: 1;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  .tabContent {
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }
}
