.searchInput {
  padding: 8px 16px;
  outline: none;
  width: 100%;
  font-size: var(--font-sm);
  height: fit-content;
  border: 1px solid var(--foreground);
  background-image: url('/assets/bg-card.png');

  &:active,
  &:focus,
  &:focus-within,
  &:focus-visible {
    border: 1px solid var(--primary);
  }
}
