.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgb(56, 56, 56);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 9;

  .nav {
    display: flex;
    align-items: center;
    gap: 10px;

    .navButton {
      width: 100%;
      text-align: center;

      &.active {
        color: aqua;
      }

      &.inActive {
        color: white;
      }
    }
  }
}
