@import '/src/sass/resize.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 50px;

  .title {
    font-size: var(--font-xxl);
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 16px;
  }

  .filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 32px;

    @include for-size(desktopSm) {
      gap: 16px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
